.footer {
  /* margin-top: 50px; */
  text-align: center;
  padding: 30px;
  background-color: #0B0C10;
  border-top: 10px solid #1F2833;
  color: #C5C6C7;
}

.App-logo {
  animation: App-logo-spin infinite .4s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
